.navBar {
    background-color: #fa4e4e;
    grid-area: nav;
    padding-left: 30%;
    justify-items: center;
    padding-top: 20px;

}

.item a.active{
    color: #36e084;
}

.item a {
    color: white;
    text-decoration: none;
}

.item.settings a {
    color: #000000;
}

