.navBar {
    background-color: #181818;
    grid-area: nav;
    padding-left: 30%;
    justify-items: center;
    padding-top: 20px;

}

.item a.active{
    color: #ffffff;
}

.item a {
    color: #999B9D;
    text-decoration: none;
}

.item.settings a {
    color: #b60000;
}

