.likes {
    color: #b04c8b;
}
.main {
    color: rgba(255, 255, 255, 0.31);
}

.main img {
    width: 75px;
    height: 75px;
    border-radius: 15px;
}
.span {
    color: black;
}

.postAva {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding-top: 10px;
}