.app-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  grid-template-areas:
  "header header "
  "nav content ";
}

.app-wrapper-content {
  background-color: rgba(31, 31, 31, 0.91);
  grid-area: content;
}

